extends layout

block content

  h1= title
  p  Welcome to #{title}! talk about whatever is on your mind!
  main
    .button-container
      a(href="/new"): button.compose="Submit a Message!"
    each message in messages
     section.message-card 
      h2=message.text  
      p=message.user
      p=message.date
      footer
        p=message.added
    
